<nav>
  <ul>
    <li><a href="Homepage.html">Home</a></li>
    <li><a href="courselisting.html">Courses</a></li>
    <li><a href="InstructorProfiles.html">Instructors</a></li>
    <li><a href="Events.html">Events</a></li>
    <li><a href="FAQs.html">FAQs</a></li>
    <li><a href="ContactForm.html">Contact</a></li>
  </ul>
</nav>
