<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/course-listing">Courses</a></li>
    <li><a href="/instructor-profiles">Instructors</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li><a href="/contact-form">Contact</a></li>
  </ul>
</nav>
