<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="images/solent-logo.png" alt="Solent Art University Logo">
            </div>
            <ul class="nav-links">
                <li><a href="index.ejs">Home</a></li>
                <li><a href="courselisting.ejs">Courses</a></li>
                <li><a href="InstructorProfiles.ejs">Instructors</a></li>
                <li><a href="Events.ejs">Events</a></li>
                <li><a href="FAQs.ejs">FAQs</a></li>
                <li><a href="ContactForm.ejs" class="active">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    
    <!-- New Footer Section -->
    <footer class="solent-footer">
        <div class="footer-content">
            <img src="images/solent-logo.png" alt="Solent University Logo" class="footer-logo">
            <div class="footer-links">
                <a href="Homepage.html">Home</a>
                <a href="courselisting.html">Courses</a>
                <a href="InstructorProfiles.html">Instructors</a>
                <a href="Events.html">Events</a>
                <a href="FAQs.html">FAQs</a>
                <a href="ContactForm.html">Contact</a>
            </div>
            <div class="copyright">
                <p>&copy; <span id="current-year"></span> Solent University. All rights reserved.</p>
                <p></p>
            </div>
        </div>
    </footer>

    <script src="../public/index.js"></script>
    <script>
        // Auto-update copyright year
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>