<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("./partials/header") %>

    <section class="Solent-text">
      <h2>Solent University Online Learning Platform</h2>
      <p>
        Dynamic user friendly space designed to make learning accessible,
        engaging and tailored for your needs. Whether you're advancing your
        career, exploring new subjects or building practical skills, Solent
        University Online Learning Platform offers flexible and quality courses
        led by top educators to help you anytime, anywhere.
      </p>
    </section>

    <section class="Why-Solent">
      <h2>Why Choose Solent University Online Learning Platform?</h2>
      <p>Self paced - Study anytime, anywhere</p>
      <p>Mobile friendly - Learn on the go</p>
      <p>Track Progress - Reach milestones and course progression</p>
      <p>Connect with others students - Collaborate and share experiences</p>
      <p>Unlimited Access to instructors and material support</p>
    </section>

    <section class="Testimonials">
      <h2>Testimonials</h2>
      <p>
        This platform made it easy for me to balance my full time job and study
        my passion. The courses are well structured and I loved being able to
        learn at my own pace. Thanks to the practical skills I gained, I've
        already landed a job using the knowledge and skills gained!
      </p>
      <p>Jane K, Marketing Professional</p>
    </section>

    <section class="Testimonials2">
      <h2>Testimonials</h2>
      <p>
        I was skeptical about online courses but this platform exceeded my
        expectations. The content is engaging, the instructors are supportive
        and I could access everything right from my phone. It's made learning
        enjoyable again.
      </p>
      <p>Peter B, Unemployed</p>
    </section>
    <%- include("./partials/footer") %>

    <script src="/js/index.js"></script>
    <script>
      // Auto-update copyright year
      document.getElementById("current-year").textContent =
        new Date().getFullYear();
    </script>
  </body>
</html>
