<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
              <img src="/public/images/solent-logo.png" alt="Solent University Logo">
            </div>
            <ul class="nav-links">
                <li><a href="index.ejs" class="nav-link">Home</a></li>
                <li><a href="courselisting.ejs" class="nav-link">Courses</a></li>
                <li><a href="InstructorProfiles.ejs" class="nav-link">Instructors</a></li>
                <li><a href="Events.ejs" class="nav-link">Events</a></li>
                <li><a href="FAQs.ejs" class="nav-link">FAQs</a></li>
                <a href="ContactForm.ejs">Contact</a>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <section class="instructor-profiles">
        <h2>Meet Our Instructors</h2>
        
        <div class="flip-card-container">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="instructor-image">
                  <img src="/public/images/AvaSamuel.jpg" alt="Dr. Ava Samuel">
                </div>
                <div class="instructor-info">
                  <h3>Dr. Ava Samuel</h3>
                  <p class="specialty">Digital Marketing</p>
                </div>
              </div>
              <div class="flip-card-back">
                <h3>Dr. Ava Samuel</h3>
                <p class="specialty">Digital Marketing</p>
                <p class="bio">15+ years experience in digital media. Specializes in digital communication strategy and audience engagement. With a background in public health and media, she equips students to design targeted, high-impact digital marketing campaigns using SEO, social media, and content analytics..</p>
              
              </div>
            </div>
          </div>
      

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="instructor-image">
                  <img src="/public/images/IsmailKhan.jpg" alt="Prof. Ismail Khan">
                </div>
                <div class="instructor-info">
                  <h3>Prof. Ismail Khan</h3>
                  <p class="specialty">Cyber Security</p>
                </div>
              </div>
              <div class="flip-card-back">
                <h3>Prof. Ismail Khan</h3>
                <p class="specialty">Cyber Security</p>
                <p class="bio">Prepares students to defend digital infrastructures through ethical hacking, encryption, and cybersecurity frameworks critical to modern business and healthcare environments.</p>
              </div>
            </div>
          </div>


           <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="instructor-image">
                  <img src="/public/images/KarlDietrich.jpg" alt="Prof. Karl Dietrich">
                </div>
                <div class="instructor-info">
                  <h3>Prof. Karl Dietrich</h3>
                  <p class="specialty">Data Analyst</p>
                </div>
              </div>
              <div class="flip-card-back">
                <h3>Prof. Karl Dietrich</h3>
                <p class="specialty">Data Analyst</p>
                <p class="bio">Deep experience in data ethics and interpretation. He teaches students to extract, clean, and visualize data using tools like SQL, Python, and Tableau to support evidence-based decision-making.</p>
              </div>
            </div>
          </div>                   
      
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="instructor-image">
                      <img src="/public/images/KerryJohnson.jpg" alt="Prof. Kerry Johnson">
                    </div>
                    <div class="instructor-info">
                      <h3>Prof. Kerry Johnson</h3>
                      <p class="specialty">UI/UX</p>
                    </div>
                  </div>
                  <div class="flip-card-back">
                    <h3>Prof. Kerry Johnson</h3>
                    <p class="specialty">UI/UX</p>
                    <p class="bio">Blends design thinking with practical user research to shape intuitive digital experiences. She trains students in wireframing, prototyping, and usability testing, creating human-centered interfaces that solve real-world problems.</p>
                  </div>
                </div>
              </div>   
              
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="instructor-image">
                  <img src="/public/images/PeterSteel.jpg" alt="Prof. Peter Steel">
                </div>
                <div class="instructor-info">
                  <h3>Prof. Peter Steel</h3>
                  <p class="specialty">Machine Learning Engineer</p>
                </div>
              </div>
              <div class="flip-card-back">
                <h3>Prof. Peter Steel</h3>
                <p class="specialty">Machine Learning Engineer</p>
                <p class="bio">Specializes in applied AI and model development. He guides students in building machine learning systems using Python, TensorFlow, and real datasets</p>
              </div>
            </div>
          </div>              

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="instructor-image">
                  <img src="/public/images/SamuelBrown.jpg" alt="Prof. Samuel Brown">
                </div>
                <div class="instructor-info">
                  <h3>Prof. Samuel Brown</h3>
                  <p class="specialty">Data Scientist</p>
                </div>
              </div>
              <div class="flip-card-back">
                <h3>Prof. Samuel Brown</h3>
                <p class="specialty">Data Scientist</p>
                <p class="bio">Combines domain expertise with advanced data science methods. He teaches students how to apply machine learning, statistical modeling, and big data tools to uncover insights and drive innovation across industries.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      </section>
    
   
    <footer class="solent-footer">
        <div class="footer-content">
          <img src="/public/images/solent-logo.png" alt="Solent University Logo" class="footer-logo">

            <div class="copyright">
                <p>&copy; <span id="current-year"></span> Solent University. All rights reserved.</p>
                <p></p>
            </div>
        </div>

        
    </footer>

    <script src="../public/index.js"></script>
    <script>
        // Auto-update copyright year
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>